extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | BasementDB was created to help me catalog and store my collection.  
        | <br /><br />
        | The idea for this webpage is as follows: My father has a large collection of media in his basement, The media is organized but there is no centralized repository to show all the items in the collection.  I am creating this webpage to serve that need. 
        | <br /><br />
        | This webpage is meant to store media of any kind.  The orginal design is to store Music (CD, DVD-audio, Vinyl), books (comics, magizines, books) & video games.  Further updates could mean more functionality is added down the road.  Currently this project is being done for Database2 at Towson University for the Spring 2018 semester. 
