extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
      script.
        function getBookDetails(isbninput) {
            var isbn = document.getElementById(isbninput).value; 
            var url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn;
            $.getJSON(url, displayBooks);
            function displayBooks(data) {
              var htmlString = "<div>";
              $.each(data.items, function (i, item) {
                htmlString += '<div class="col-xs-3">';
                htmlString += '<img src="' + item.volumeInfo.imageLinks.thumbnail + '" alt="' + item.id + '" title="' + item.id + '", class ="img-thumbnail img-responsive"/><br/>';
                htmlString += '<strong class="small">Pub: ' + item.volumeInfo.publishedDate + '</strong></div>';
                htmlString += '<div class="col-xs-9"><h1>' + item.volumeInfo.title + '</h1>';
                $.each(item.volumeInfo.authors, function (i, author) {
                  htmlString += '<p class="bg-info"><i>' + author + '</i></p>';
                 });
                  htmlString += '<p class="small">' + item.volumeInfo.description + '</p>';
                  htmlString += '</div>';
                 });   
                  $('#book').html(htmlString + "/div>");
            }
        }
  .row.page-body
    .col-xs-12.col-md-6
        label.col-xs-10.col-sm-2.control-label(for="ISBN") ISBN
        .col-xs-12.col-sm-10
          input#ISBN.form-control(type="text", name="ISBN")
      button(onclick="getBookDetails('ISBN')") Add to Database
    .col-xs-12.col-md-4
    <div id="book"></div>

