extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | Loc8r
          small &nbsp;Find places to work with wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/media/') Back to the future trilogy
            small &nbsp;
            span.badge.pull-right.badge-default 1
          p.address Christopher Lloyd 
          p
            span.label.label-warning Universal
            | &nbsp;
            span.label.label-warning 1985-1990
            | &nbsp;
            span.label.label-warning adventure
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/media/') Cosmic Trane
            small &nbsp;  
            span.badge.pull-right.badge-default 2
          p.address John Coltrane
          p
            span.label.label-warning Jazz
            | &nbsp;
            span.label.label-warning 1968
            | &nbsp;
            span.label.label-warning Blue note
            | &nbsp;
        .col-xs-12.list-group-item
          
    .col-xs-12.col-sm-4
      p.lead
        All items currently stored in the database.