extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title 
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="mediaType") Media Type
          .col-xs-12.col-sm-10
            input#mediaType.form-control(name="mediaType")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="title") Title
          .col-xs-12.col-sm-10
            input#title.form-control(name="title")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="artist") Author/Artist
          .col-xs-12.col-sm-10
            input#artist.form-control(name="artist")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="year") Publication Year
          .col-xs-12.col-sm-10
            input#year.form-control(name="year")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="publisher") Publisher
          .col-xs-12.col-sm-10
            input#publisher.form-control(name="publisher")
        .form-group
          label.col-sm-2.control-label(for="notes") Notes
          .col-sm-10
            input#notes.form-control(name="notes")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Date added
          .col-xs-12.col-sm-10
            input#date.form-control(date="date")
        button.btn.btn-default.pull-right Add to database
    .col-xs-12.col-md-4